css

@font-face {
	fonr-family: "Pudelinka"
    scr: url("Fonts/pudelinka.ttf") format('truetype');
    font-weight: normal;
	font-style: normal;
}
	
body {
   background-color: #d2b48c;
   color: #ffd700
	margin-left: 20%;
	margin-right: 20%;
	border: 2px dotted black;
	padding: 10px;
	font-family: sans serif; 
 }

blockquote.q {
color: #D4AF37;
borber-left: 4px solid #8B0000;
font-style: italic;
}

p.quote {
	font-family: "Pudelinka", cursive;
	color: #ffa500;
}
